@rendermode InteractiveServer
@inject IJSRuntime jsRuntime
@inject NavigationManager router



<div class="navbar bg-base-100">
  <div class="flex-1">
    <a class="text-2xl font-bold" href="/">Weather App</a>
  </div>
  <div class="flex-none gap-2">
    <form class="form-control" @onsubmit="SaveLocationAsync">
      <input type="text" @bind="userLocation" placeholder="Search a city" class="input input-bordered w-32 md:w-auto" />
    </form>
    <div class="dropdown dropdown-end">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
        <div class="w-10 rounded-full">
          <img
            alt="Adedoyin Emmanuel's Picture"
            src="https://github.com/adedoyin-emmanuel.png" />
        </div>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
        <li><a href="https://adedoyin.hashnode.dev" target="_blank">Blog</a></li>
        <li><a href="https://youtube.com/@@adedoyin-emma" target="_blank">Youtube</a></li>
        <li>
          <a class="justify-between" href="https://github.com/adedoyin-emmanuel" target="_blank">
            Github Profile
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>



@code{
  private string userLocation = string.Empty;

  public async Task SaveLocationAsync(){
    try{
      if (!string.IsNullOrEmpty(userLocation)){
        
        router.NavigateTo($"/app?location={userLocation}", true);
      }else{
        await jsRuntime.InvokeVoidAsync("showAlert", "Error!", "Please enter a valid location", "error");
      }
    }catch (Exception ex){
      await jsRuntime.InvokeVoidAsync("showAlert", "Error!", "Oh dear. An unknown error occured!", "error");
      Console.WriteLine($"Error saving location: {ex.Message}");
    }
  }
}