@page "/app"

<PageTitle>App</PageTitle>
<div class="w-screen flex items-center justify-center flex-col my-4 overflow-x-hidden">
    <WeatherDetails/>
    <br/>
    <br/>
   
   <div class="flex gap-3 flex-wrap justify-between">
     <Forecast/>
   </div>

@* 
   <a href="/" role="button" class="btn my-4">Get location</a> *@
</div>