@page "/"

<PageTitle>Weather App</PageTitle>

<div class="w-screen h-screenw flex items-center justify-center flex-col my-4 overflow-x-hidden">
    <Weather/>

    <br/>
    <br/>
   
   <div class="flex gap-3 flex-wrap justify-between">
     <Forecast/>
   </div>


   <button class="btn my-4">Get my location</button>
</div>