@page "/"

<PageTitle>Home</PageTitle>



<h1 class="font-bold text-3xl capitalize">Hello Tailwindcss</h1>
<h1 class="font-bold text-5xl capitalize text-sky-500">Hello Blazor</h1>


<button class="btn">Button</button>
<button class="btn btn-neutral">Neutral</button>
<button class="btn btn-primary">Primary</button>
<button class="btn btn-secondary">Secondary</button>
<button class="btn btn-accent">Accent</button>
<button class="btn btn-ghost">Ghost</button>
<button class="btn btn-link">Link</button>